<div>
    <button class="btn btn-warning" routerLink="/Home" style="float:right; margin-left: 1px;">Back to Home</button>

</div>

<div class=" deli">
    <div class="d-flex des">

        <div class="col-lg-4 ms-auto dd pt-2" style="align-content: center;">
            <h1 style="color: brown;">YOUR ORDER Confirmed...</h1>

            <p style="color:rgb(114, 24, 24);">Thank you for choosing us!We have recevied your order and will have it
                ready for pickup in 20 minutes. <br>
                If you have any questions,please give us a call at(123)456-7890
            </p>
            <p style="float:left; margin-left: 10px;"><b>Enjoy your Meal</b></p>
        </div>

    </div>





</div>