<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <img src="" width="100%">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem nisi quaerat, voluptatibus quis aliquam placeat
        quisquam quae maiores modi non sunt saepe a officiis, impedit labore exercitationem, perspiciatis consequatur
        dicta.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, rem vitae. Culpa cum, ab ex adipisci nisi
        ullam quasi nulla quam, harum saepe optio architecto magni! Reiciendis, molestias. Voluptatum, accusantium.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, rem vitae. Culpa cum, ab ex adipisci nisi
        ullam quasi nulla quam, harum saepe optio architecto magni! Reiciendis, molestias. Voluptatum, accusantium.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem nisi quaerat, voluptatibus quis aliquam placeat
        quisquam quae maiores modi non sunt saepe a officiis, impedit labore exercitationem, perspiciatis consequatur
        dicta.
        <br>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem nisi quaerat, voluptatibus quis aliquam placeat
        quisquam quae maiores modi non sunt saepe a officiis, impedit labore exercitationem, perspiciatis consequatur
        dicta.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem nisi quaerat, voluptatibus quis aliquam placeat
        quisquam quae maiores modi non sunt saepe a officiis, impedit labore exercitationem, perspiciatis consequatur
        dicta.

    </p>
</div>