<div class="banner">
    <h2 style="color:black">Welcome {{user}}</h2>
    <button class="btn btn-warning" (click)="logout()" style="float:right; margin-right: 10px;">logout</button>

    <div class="contents">
        <h1 class="mb-5">Freesh Cooked Food <br>At Your Door.</h1>
        <a routerLink="Menu">ORDER NOW <i class="bi bi-arrow-right"></i></a>
    </div>
    <a routerLink="/Home/OrderHistory" style="color: greenyellow;">Your Orders Histroy</a>

</div>
<div class="container mt-5 mb-5 ">
    <h1 class="text-center">How to get <span class="highlight">fresh food</span></h1>
    <div class="row mt-5">
        <!-- one -->
        <div class="col-lg-4 mt-2">
            <div class="stepsbox">
                <h1>1</h1>
                <p>Select food</p>
            </div>
        </div>

        <!-- two -->
        <div class="col-lg-4 mt-2">
            <div class="stepsbox">
                <h1>2</h1>
                <p>fill the details</p>
            </div>
        </div>

        <!-- three -->
        <div class="col-lg-4 mt-2">
            <div class="stepsbox">
                <h1>3</h1>
                <p>your order delivered in minute</p>
            </div>
        </div>

    </div>
</div>

<!-- foodbox -->
<div class="container mt-4 mb-4">
    <div class="text-center">
        <h1 class="d-flex d-lg-block flex-column">Customers<span class="highlight">Favourite Food</span> </h1>
    </div>
    <div class="row">
        <div class="col lg-3 mt-3" *ngFor="let fd  of foodData;index as i">
            <div class="foodbox" *ngIf="i<=2">
                <img src="{{fd.foodImg}}">
                <h1>{{fd.foodName}}</h1>
                <p>{{fd.foodPrice | currency:'INR'}}</p>
            </div>

        </div>
    </div>
    <a routerLink="Menu" class="viewmorebtn">viewmore<i class="bi bi-arrow-right"></i></a>
</div>